.CheckOutOverlay {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  display: flex;
}

.CheckOutContainer {
  background-color: #e8e3d9;
  width: 50%;
  height: auto;
  max-height: 90%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2%;
  color: #4c1108;
  font-family: "Sura";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CheckOutContainer > h1 {
  margin: 0;
  font-size: 24px;
}

.CheckOutContainerInner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.AddressContainer {
  width: 50%;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  padding: 1% 2%;
  display: flex;
  flex-direction: column;
}

.AddressContainer > h1 {
  margin: 0 0 10px 0;
  font-size: 22px;
}

.PaymentContainer {
  width: 50%;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
}

.PaymentContainer > h1 {
  margin: 0 0 10px 0;
  font-size: 22px;
}

.inputAreaContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.inputArea {
  width: 50%;
}

.inputAreaWide {
  width: 100%;
}

.inputArea:nth-child(2) {
  margin-left: 8px;
}

.inputArea > input,
.cardNumberArea > input {
  width: 100%;
  height: 28px;
  background-color: #dad4c8;
  border: 0.5px solid #9d7e79;
  border-radius: 5px;
  color: #9d7e79;
  font-size: 16px;
  font-family: "Andada Pro";
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 4px;
}

.inputArea > input:focus,
.cardNumberArea > input:focus {
  outline: 2px solid #9d7e79;
}

.inputArea > p {
  margin: 0;
  font-size: 16px;
  font-family: "Andada Pro";
  margin-bottom: 4px;
}

input.creditCardMonth {
  max-width: 50px;
}

input.creditCardYear {
  max-width: 70px;
}

input.creditCardCVV {
  max-width: 70px;
}

.orderButton {
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 8px 30px;
}

.clearButton {
  margin-top: 10px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 8px 30px;
  background: none;
  color: #4c1108;
  border: 1.5px solid #4c1108;
}

.cardNumberArea {
  display: flex;
  align-items: center;
}

.cardIcon {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  object-fit: contain;
}

.actionBar {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
}

.errorMsg {
  color: #d44120;
}

input.validationError {
  border: 2px solid #d44120;
}

div.validationError {
  color: #d44120;
}

.termsCheckBox.validationError {
  border-color: #d44120;
}

.mapFrame {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #4c1108;
  border-radius: 5px;
}

.termsAndPrice {
  margin-top: 20px;
  align-items: flex-start;
}

.priceTotal {
  width: 40%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -8px;
  margin-bottom: 10px;
}

.termsAndConditions {
  width: 60%;
  padding-left: 18px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  cursor: pointer;
}

.termsCheckBox {
  position: absolute;
  top: 3px;
  left: -2px;
  width: 12px;
  height: 12px;
  font-size: 16px;
  color: #a7290d;
}

.priceTotal > h1,
.priceTotal > h2 {
  margin: 0;
}

@media screen and (max-width: 1500px) {
  .AddressContainer > h1,
  .PaymentContainer > h1 {
    font-size: 22px;
  }
  .inputArea > p {
    font-size: 18px;
  }
  .CheckOutContainer {
    width: 65%;
  }
}

@media screen and (max-width: 1200px) {
  .CheckOutContainer {
    width: 85%;
    min-width: 0;
  }
}

@media screen and (max-width: 900px) {
  .CheckOutContainerInner {
    flex-direction: column;
  }

  .AddressContainer {
    width: 100%;
  }

  .PaymentContainer {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .CheckOutOverlay {
    height: calc(100% - min(64px, 10%));
  }
  .CheckOutContainer {
    width: 90%;
  }
  .actionBar {
    flex-direction: column;
    width: 100%;
  }
  .inputArea > p {
    font-size: calc(10px + 1vw);
  }
  .clearButton {
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 6px 20px;
    background: none;
    color: #4c1108;
    border: 1.5px solid #4c1108;
    width: 95%;
    margin-left: 0;
  }

  .orderButton {
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 8px 20px;
    width: 95%;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .inputAreaContainer {
    flex-direction: column;
  }
  .CartDatesContainer {
    flex-direction: row;
  }
  .CartDatesContainer > .inputArea:nth-child(1) {
    width: 70%;
  }
  .CartDatesContainer > .inputArea:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
  }

  .inputArea {
    width: 100%;
    margin-bottom: 5px;
  }
  .inputArea:nth-child(2) {
    margin: 0;
  }

  .termsAndPrice {
    flex-direction: column-reverse;
  }

  .termsAndConditions {
    width: 100%;
  }

  .priceTotal {
    width: 100%;
  }
}

@media screen and (max-width: 260px) {
  .CartDatesContainer {
    flex-direction: column;
  }
  .CartDatesContainer > .inputArea:nth-child(1) {
    width: 100%;
  }
  .CartDatesContainer > .inputArea:nth-child(2) {
    display: block;
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
