.CheckOrderOverlay {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  display: flex;
}

.CheckOrderContainer {
  background-color: #e8e3d9;
  width: max(550px, 30%);
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
}

.CheckOrderInner {
  width: 100%;
  height: 100%;
  border: 1px solid #c7c7c7;
  display: flex;
  flex-direction: column;
  color: #4c1108;
  font-family: "Sura";
  font-size: 16px;
  padding: 2%;
  box-sizing: border-box;
}

.CheckOrderInner > h1 {
  margin: 0 0 10px 0;
  font-size: 28px;
}

.CheckOrderInner > p {
  font-family: "Andada Pro";
  margin: 0 0 5px 0;
  font-size: 18 px;
}

p.CheckOrderInstructions {
  margin-bottom: 20px;
}

.CheckOrderInner input {
  width: 100%;
  height: 28px;
  background-color: #dad4c8;
  border: 0.5px solid #9d7e79;
  border-radius: 5px;
  color: #9d7e79;
  font-size: 16px;
  font-family: "Andada Pro";
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 15px;
  width: 60%;
}

.CheckOrderInner > input:focus {
  outline: 2px solid #9d7e79;
}

.checkOrderErrorMsg {
  font-size: 12px;
  color: red;
  align-self: center;
}

.CheckButton {
  margin-top: 10px;
  align-self: center;
}

@media screen and (max-width: 1200px) {
  .CheckOrderContainer {
    width: max(500px, 50%);
  }
}

@media screen and (max-width: 750px) {
  .CheckOrderOverlay {
    height: calc(100% - min(64px, 10%));
  }

  .CheckOrderContainer {
    width: max(400px, 65%);
  }

  .CheckOrderInner input {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .CheckOrderContainer {
    width: 90%;
  }
}
