.CheckOutOverlay {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  display: flex;
}

.CheckOutContainer {
  background-color: #e8e3d9;
  width: 60%;
  height: 80%;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  color: #4c1108;
  font-family: "Sura";
  overflow-y: auto;
}

.AddressContainer {
  width: 50%;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
}

.AddressContainer > h1 {
  margin: 0 0 15px 0;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
}

.PaymentContainer {
  width: 50%;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
}

.PaymentContainer > h1 {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.inputAreaContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.inputArea {
  width: 50%;
}

.inputAreaWide {
  width: 100%;
}

.inputArea:nth-child(2) {
  margin-left: 10px;
}

.inputArea > input,
.cardNumberArea > input {
  width: 100%;
  height: 35px;
  background-color: #dad4c8;
  border: 0.5px solid #9d7e79;
  border-radius: 5px;
  color: #9d7e79;
  font-size: 18px;
  font-family: "Andada Pro";
  box-sizing: border-box;
  padding-left: 10px;
}

.inputArea > input:focus, .cardNumberArea > input:focus {
  outline: 2px solid #9d7e79;
}

.inputArea > p {
  margin: 0;
  font-size: 18px;
  font-family: "Andada Pro";
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
}

input.creditCardMonth {
  max-width: 50px;
}

input.creditCardYear {
  max-width: 70px;
}

input.creditCardCVV {
  max-width: 70px;
}

.clearButton {
  margin: 30px 0 0 0;
  box-sizing: border-box;
  font-size: 24px;
  padding: 10px 5px;
  width: 100%;
  align-self: flex-end;
}

.cardNumberArea {
  display: flex;
  align-items: center;
}

.cardIcon {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  object-fit: contain;
}

@media screen and (max-width: 1500px) {
  .AddressContainer > h1,
  .PaymentContainer > h1 {
    font-size: 22px;
  }
  .inputArea > p {
    font-size: 18px;
  }
  .CheckOutContainer {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .CheckOutContainer {
    width: 85%;
    min-width: 0;
  }
}

@media screen and (max-width: 900px) {
  .CheckOutContainer {
    width: 88%;
    margin-top: -15%;
    flex-direction: column;
  }

  .AddressContainer {
    width: 100%;
  }

  .PaymentContainer {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .inputAreaContainer {
    flex-direction: column;
  }
  .inputArea {
    width: 100%;
    margin-bottom: 5px;
  }
  .inputArea:nth-child(2) {
    margin: 0;
  }
  .clearButton {
    margin: 0;
    font-size: 18px;
  }
}

.inputArea > input::-webkit-outer-spin-button,
.inputArea > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputArea > input[type="number"] {
  -moz-appearance: textfield;
}
