.FloatingCartContainer {
  position: fixed;
  top: 40%;
  display: flex;
  right: -80px;
  background-color: #a62a0e;
  padding: 16px 8px;
  font-size: 24px;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -4px 4px 20px 8px rgb(0, 0, 0, 0.35);
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.VerticalText {
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.CartIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.CartCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-family: "Arial";
  position: absolute;
  top: -10px;
  right: -10px;
  font-weight: 600;
  font-size: 18px;
}

.ShowFloatingCart {
  right: 0;
}

@media screen and (max-width: 750px) {
  .FloatingCartContainer {
    top: 30%;
    display: flex;
    right: -80px;
    background-color: #a62a0e;
    font-size: 16px;
    padding:10px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .CartIcon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .CartCounter {
    width: 16px;
    height: 16px;
    top: -5px;
    right: -5px;
    font-size: 14px;
  }

  .ShowFloatingCart {
    right: 0;
  }
}
