.FoodMenuContainer {
  background-color: #e8e3d9;
  background-image:url("/public/pizzabg.png");
  overflow:hidden;
  box-sizing: border-box;
  margin-top: 50px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.FoodMenuContainer > h1 {
  margin: 0;
  font-size: 40px;
  color: #4c1108;
  font-family: "Sura";
}

@media screen and (max-width:500px) {
  .FoodMenuContainer {
    margin-top: 0;
  }
  
  .FoodMenuContainer > h1 {
    font-size:30px;
  }
}