.ProductListContainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 50px;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom:100px;
}

.ProductListContainer > i {
  width: 300px;
  height: 150px;
  border-radius: 15px;
  margin: 25px;
}

@media screen and (max-width:2300px) {
  .ProductListContainer>i:nth-of-type(1) {
    display:none;
  }
}

@media screen and (max-width:1850px) {
  .ProductListContainer>i:nth-of-type(2) {
    display:none;
  }
}


@media screen and (max-width:1550px) {
  .ProductListContainer>i:nth-of-type(3) {
    display:none;
  }
}

@media screen and (max-width:1200px) {
  .ProductListContainer>i:nth-of-type(4) {
    display:none;
  }
}

@media screen and (max-width:800px) {
  .ProductListContainer>i:nth-of-type(5) {
    display:none;
  }
}


@media screen and (max-width:500px) {
  .ProductListContainer {
    padding-top:0;
  }
}